.Header {
  color: black;
  border-bottom: 3px solid black;
  box-shadow: 0 16px 0 white;
  margin: 50px;
}

.Header__body {
  display: flex;
  align-items: center;
}

.Header__title {
  flex: 1;
  padding: 20px 0;
  font-family: "times new roman", times, serif;
  font-style: italic;

  a {
    font-size: 6em;
    font-weight: bold;
    position: relative;
    color: black;
    text-decoration: none;
    display: block;
    padding: 2px;
  }
}

.Header__summary {
  text-decoration: none;
  color: black;
  text-align: center;
  cursor: pointer;
}

.Header__summary__line {
  font-size: 0.8em;
}